#quoteBox {
  margin-top: 50px;
}

.panel {
  margin-top: 30px;
}

.btn-lg.round {
	border-radius: 24px;
}

body {
  transition:background-color 1.5s ease;
}

#twitter {
  text-align: left;
  margin-left: 30px;
}
